# Ignore everything
*

# Except these folders
!.gitignore
!.zshrc
!defaults.conf
!yazi/
!yazi/**
!zathura/
!zathura/**
!yay/
!yay/**
!waybar/
!waybar/**
!systemd/
!systemd/**
!nvim/
!nvim/**
!niri/
!niri/**
!mako/
!mako/**
!fuzzel/
!fuzzel/**
!foot/
!foot/**
